@page
@model DockerDotnetTest.Pages.CompareUserModeKernelModeCpuSamplingModel
@{
}

<h3>Requestergebnis:</h3>
<p font-color="red"><b>@Model.Status</b></p>
<hr />

<form method="post">
    <button>Starte Thread mit 60 Sekunden Sleep, Thread mit 60 Sekunden "while" und Task mit 60 Sekunden Delay</button>
</form>